<div class="container-xxl container-fluid bg-body-secondary p-0 ">
    <nav class="wrapper-nav d-lg-block d-none">
        <div class="d-flex justify-content-between align-items-center p-4">
            <div class="wrapper-left">
                <h3 (click)="clickNav()"><i [ngClass]="hideNav().iconClass"></i></h3>
            </div>
            <div class="wrapper-right d-flex justify-content-between align-items-center gap-4">
                <h3>
                    <i class="fa-solid fa-clock">
                    </i>
                </h3>
                <h3>
                    <i class="fa-brands fa-rocketchat"></i>
                </h3>
                <h3>
                    <i class="fa-solid fa-gear"></i>
                </h3>
            </div>
        </div>
    </nav>
    <div class="container-xxl container-fluid p-4 position-relative overflow-hidden">
        <div class="wrappernavbar bg-body-secondary " [ngClass]="hideNav().navbarClass">
            <ul class="list-group flex-lg-row flex-wrap gap-4 ">
                <li class="nav-link"><a href="" routerLink="/home">Home</a></li>
                <li class="nav-link"><a href="" routerLink="/LoanSystem">loan</a></li>
                <li class="nav-link"><a href="" routerLink="/Receipe">Recipe</a></li>
                <li class="nav-link"><a href="" routerLink="/home">Home</a></li>
                <li class="nav-link"><a href="" routerLink="/home">Home</a></li>
            </ul>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-8 col-6">
                <div class="wrapper-profiles d-flex align-items-center gap-3">
                    <article class="profiles">
                        <img src="/img/PortfolioPic.jpg" alt="" class="w-100 h-auto">
                    </article>
                    <div class="username">
                        <h3 class="fw-bolder">Bun Sengtri</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="wrapper-setting d-flex align-items-lg-center align-items-start gap-3 justify-content-end">
                    <h3>
                        <i class="fa-solid fa-qrcode"></i>
                    </h3>
                    <h3>
                        <i class="fa-solid fa-gear"></i>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <h3>{{admin}}</h3>
            <p>ID: 10 100</p>
        </div>
        <main class="wrapper-menu">
            <div class="row mt-4">
                @for (color of getcolor(); track $index) {
                <div class=" col-4 mb-3">
                    <div class=" wraper-menu-small" [style.border-left]="'4px solid' + color.color">
                        <h1><i [ngClass]="color.clas"></i></h1>
                        <h3>{{color.text}}</h3>
                    </div>
                </div>
                }
            </div>
            <div class="row">
                @for (color of RowColor(); track $index) {
                <div class="col-6 ">
                    <div class="wraper-menu-small" [style.border-left]="'4px solid' + color.color">
                        <h1><i [ngClass]="color.clas"></i></h1>
                        <h3 (click)="$index == 1 ? Loout() : null">{{color.text}}</h3>
                    </div>
                </div>
                }
            </div>
        </main>
    </div>
</div>