/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to bottom right, #f8f9fa, #ffffff);
    /* overflow: hidden; */
}

:root {
    --light: #fff;
    --dark: #343a40;
}